<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="widht=device-width, initial-scale=1.0"/>
    <title>Sportsstore</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2 text-uppercase">Sports Store</span>
    </div>
    <div class="row m-1 p-1">
        <div class="col-3" id="categories">
            <vc:navigation-menu />
        </div>
        <div class="col-9">
        @RenderBody()
        </div>
    </div>
</body>
</html>