<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="widht=device-width, initial-scale=1.0"/>
    <title>Sportsstore</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>