<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["title"] - NewsApplication</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row justify-content-center m-2">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <h1 class="bg-dark text-white text-center">News Application</h1>
            @RenderBody()
        </div>
    </div>
</body>
</html>