@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Party!</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="text-center">
            <h3>We're going to have a Party!</h3>
            <a class="btn btn-primary"asp-action="RsvpForm"> Rsvp Form</a>
            <a class="btn btn-primary"asp-action="ListResponses"> List Responses</a>
        </div>
    </div>
</body>
</html>