@{
    ViewData["Title"] = "Confirmation";
    ViewData["BodyTitle"] = "Item added";
}
@model Item

<p>you added <span class="text-danger">@Model.Amount @Model.Name</span> to shopping list</p>
<p>there are @ViewData["ArticleCount"] positions in list</p>
<a class="btn btn-outline-primary" asp-action="ListAdder">Add more</a>
<a class="btn btn-outline-primary" asp-action="Index">Home</a>