@{
    ViewData["Title"] = "Shopping list";
    ViewData["BodyTitle"] = "Shopping list";
}

<div class="text-center">
    <a class="btn btn-outline-primary" asp-action="ListAdder">Add New Item</a>
    <a class="btn btn-outline-primary" asp-action="ListViewer">View List</a>
</div>