@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ShoppingList</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="justify-content-center row">
        <div class="col-2">
            <h1 class="bg-primary text-white text-center">Shopping List</h1>
            <div class="text-center">
                <a class="btn btn-outline-primary" asp-action="ListAdder">Add New Item</a>
                <a class="btn btn-outline-primary" asp-action="ListViewer">View List</a>
            </div>
        </div>
    </div>
</body>
</html>