@{
    ViewData["Title"] = "Result";
    ViewData["BodyTitle"] = "Result";
}
@model Calculator

<div>
    <div class="row">
        <div class="col">
            <input asp-for="Euro" placeholder="Euro" disabled />
            <label asp-for="Euro">Euro</label>
        </div>
        <div class="col">
            <input asp-for="Cow" placeholder="Kühe" disabled />
            <label asp-for="Cow">Kühe</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input asp-for="RestEuro" placeholder="Rest Euro" disabled />
            <label asp-for="RestEuro">Rest Euro</label>
        </div>
        <div class="col">
            <input asp-for="Sheep" placeholder="Schafe" disabled />
            <label asp-for="Sheep">Schafe</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" disabled />
            <label></label>
        </div>
        <div class="col">
            <input asp-for="Goat" placeholder="Ziegen" disabled />
            <label asp-for="Goat">Ziegen</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" disabled />
            <label></label>
        </div>
        <div class="col">
            <input asp-for="LittleGoat" placeholder="Kleine Ziegen" disabled />
            <label asp-for="LittleGoat">Kleine Ziegen</label>
        </div>
    </div>
    <a class="btn btn-outline-primary m-2" asp-action="EurToZsk">EUR zu ZSK</a>
    <a class="btn btn-outline-primary m-2" asp-action="ZskToEur">ZSK zu EUR</a>
</div>